:root{
    --first-bg-color: #e8e8e8;
    --second-bg-color: #f8f8f8;
    --navbar-color: #e8e8e8;
    --a-color: #000;
    --a-hover-color: rgb(99, 99, 99);
    --text-color: #2b2b2b;
}

@font-face {
    font-family: 'Prime';
    src: url('../fonts/Prime/Prime-Light.eot');
}

*{
    padding: 0;
    margin: 0;
    font-family: Prime, sans-serif;
    
}

/*--------------------*/
/* ---- Body Grid ----*/
/*--------------------*/

#body-grid{
    display: grid;
    grid-template-areas:    "navbar"
                            "content"
                            "footer";
}

/*-----------------*/
/* ---- navbar ----*/
/*-----------------*/

#navbar{
    position: fixed;
    grid-area: navbar;
    height: 80px;
    width: 100%;
    display: flexbox;
    flex-flow: column;
    align-self: center;
    background-color: var(--navbar-color);
    transition: all 0.4s;
    /*border-bottom:2px solid rgb(199, 199, 199);*/
}

.navbar-color-changer{
    --navbar-color: #f8f8f8;
    background-color: var(--navbar-color);
    transition: all 0.4s;
}

#navbar-grid{
    display: grid;
    grid-template-areas: "navlogo navlinks";
    grid-template-columns: 80px auto;
}

#navbar-logo{
    grid-area: navlogo;
    width: 50px;
    padding: 10px 10px 0 10px;
    height: auto;
    color: var(--text-color);
    transition: all 0.3s;
}

#navbar-logo:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
#nav-links{
    grid-area: navlinks;
    
}

#navbar ul{
    list-style: none;
    
}

#navbar ul li {
    float: right;
    height: 80px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#navbar ul li a{
    text-decoration: none;
    margin: auto;
    color: var(--text-color);
    font-size: 1.1em;
    transition: all 0.3s;
}

#navbar ul li a:hover{
    color: var(--a-hover-color);
    transform: translateY(2px);
    transition: all 0.3s;
}



/*------------------*/
/* ---- Content ----*/
/*------------------*/

#content{
    grid-area: content;
    height: auto;
}

/*------------------*/
/* ---- WELCOME ----*/
/*------------------*/

#welcome-section{
    display: flex;
    min-height: 100vh;
    background: var(--first-bg-color);
    background-position: 100% 100vh;
    vertical-align: center;
}

#welcome-text{
    width: fit-content;
    margin: auto;
}

/*----------------*/
/* ---- ABOUT ----*/
/*----------------*/

#about{
    min-height: 100vh;
    background: var(--second-bg-color);
}


/*-------------------*/
/* ---- PROJECTS ----*/
/*-------------------*/

#projects{
    display: block;
    height: 100vh;
    background: var(--first-bg-color);
    background-position: 100% 100vh;
}

.project-preview-img{
    height: auto;
    width: 180px;
}


/*---------------*/
/* --- TEXTOS ---*/
/*---------------*/

.big-big-title{
    font-size: 3em;
}

.big-title{
    font-size: 2.4em;
}

.sub-title{
    font-size: 1.8em;
}

.center{
    text-align: center;
    
}

.italic{
    font-style: italic;
}